@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Nanum+Pen+Script&display=swap');

/* css Variables */
:root {
    /* color */
    /* H: 컬러, S: 채도, L: 밝기 */
    --primary--color: hsl(160, 100%, 25%);
    --secondary--color: hsl(339, 77%, 59%);
    --third--color: hsl(160, 100%, 30%);
    --body--color: #fff;

    /* font */
    --body--font: "Cute Font", sans-serif;
    /* 크롬 > 설정 > 글자 크기 : 중간(기본값)일 때, 대문자 M의 너비(16px)-1rem */
    --h1--font--size: 2rem;
    --h2--font--size: 1.5rem;
    --h3--font--size: 1.25rem;
    --normal--font--size: 1rem;
    --smaller--font--size: 0.8rem;
    --smaller--font--size: 0.6rem;

    /* font weight */
    --font--thin: 200;
    --font--regular: 400;
    --font--bold: 700;

    /* z-index */
    --z-index: 100;

    /* nav */
    --nav-height: 44px;


}